/* here you can put your own css to customize and override the theme */

/***
Rounded Portlets
***/
/*
.portlet {
	border-radius: 4px !important;
}

.portlet .portlet-title {
	border-radius: 4px 4px 0px 0px !important;
}

.portlet .portlet-body,
.portlet .portlet-body .form-actions  {
	border-radius: 0px 0px 4px 4px !important;
}
*/

/*
Change Quick Sidebar Width
*/

/*
.page-quick-sidebar-wrapper {
  right: -370px;
  width: 370px;
}

.page-quick-sidebar-open.page-quick-sidebar-push-content .page-sidebar-wrapper {
  margin-left: -370px;
}

.page-quick-sidebar-open.page-quick-sidebar-push-content .page-footer {
  margin-right: 370px;
  margin-left: -370px;
}

.page-sidebar-reversed.page-quick-sidebar-open.page-quick-sidebar-push-content .page-sidebar-wrapper {
  margin-right: 370px;
}

.page-quick-sidebar-open.page-quick-sidebar-push-content.page-quick-sidebar-full-height .page-header {
  margin-left: -370px;
}

.page-quick-sidebar-wrapper .page-quick-sidebar .page-quick-sidebar-list {
  width: 370px !important;
}

.page-quick-sidebar-wrapper .page-quick-sidebar .page-quick-sidebar-item {
  width: 370px !important;
  margin-left: 370px;
}

.page-quick-sidebar-wrapper .page-quick-sidebar .page-quick-sidebar-content-item-shown .page-quick-sidebar-list {
  margin-left: -370px;
}*/

.font-yahei,h1,h2,h3,h4,h5,h6,p,span,small,section,div,body{
  font-family: "微软雅黑","Microsoft Yahei", "Helvetica Neue", Helvetica, Arial, sans-serif;
}

/******
Page Footer 
******/
.page-prefooter {
  background: #48525e;
  color: #a2abb7;
  margin-top:-2.65%;
}
.page-prefooter h2 {
  color: #44B6AE;
}
.page-prefooter .subscribe-form .form-control {
  background: #343b44;
  border-color: #343b44;
  color: #a2abb7;
}
.page-prefooter .subscribe-form .form-control::-moz-placeholder {
  color: #939eac;
  opacity: 1;
}
.page-prefooter .subscribe-form .form-control:-ms-input-placeholder {
  color: #939eac;
}
.page-prefooter .subscribe-form .form-control::-webkit-input-placeholder {
  color: #939eac;
}
.page-prefooter .subscribe-form .btn {
  color: #fff;
  background-color: #4dbcb5;
  border-color: "";
}
.page-prefooter .subscribe-form .btn:hover, .page-prefooter .subscribe-form .btn:focus, .page-prefooter .subscribe-form .btn:active, .page-prefooter .subscribe-form .btn.active {
  color: #fff;
  background-color: #3ea7a0;
}
.open .page-prefooter .subscribe-form .btn.dropdown-toggle {
  color: #fff;
  background-color: #3ea7a0;
}
.page-prefooter .subscribe-form .btn:active, .page-prefooter .subscribe-form .btn.active {
  background-image: none;
  background-color: #38958e;
}
.page-prefooter .subscribe-form .btn:active:hover, .page-prefooter .subscribe-form .btn.active:hover {
  background-color: #3a9c95;
}
.open .page-prefooter .subscribe-form .btn.dropdown-toggle {
  background-image: none;
}
.page-prefooter .subscribe-form .btn.disabled, .page-prefooter .subscribe-form .btn.disabled:hover, .page-prefooter .subscribe-form .btn.disabled:focus, .page-prefooter .subscribe-form .btn.disabled:active, .page-prefooter .subscribe-form .btn.disabled.active, .page-prefooter .subscribe-form .btn[disabled], .page-prefooter .subscribe-form .btn[disabled]:hover, .page-prefooter .subscribe-form .btn[disabled]:focus, .page-prefooter .subscribe-form .btn[disabled]:active, .page-prefooter .subscribe-form .btn[disabled].active, fieldset[disabled] .page-prefooter .subscribe-form .btn, fieldset[disabled] .page-prefooter .subscribe-form .btn:hover, fieldset[disabled] .page-prefooter .subscribe-form .btn:focus, fieldset[disabled] .page-prefooter .subscribe-form .btn:active, fieldset[disabled] .page-prefooter .subscribe-form .btn.active {
  background-color: #4dbcb5;
}
.page-prefooter .subscribe-form .btn .badge {
  color: #4dbcb5;
  background-color: #fff;
}

.page-footer {
  background: #3b434c;
  color: #a2abb7;
}


/***
Notes
***/
.note {
  margin: 0 0 20px 0;
  padding: 15px 30px 15px 15px;
  border-left: 5px solid #eee;
  -webkit-border-radius: 0 4px 4px 0;
  -moz-border-radius: 0 4px 4px 0;
  -ms-border-radius: 0 4px 4px 0;
  -o-border-radius: 0 4px 4px 0;
  border-radius: 0 4px 4px 0;
}
.note h1,
.note h2,
.note h3,
.note h4,
.note h5,
.note h6 {
  margin-top: 0;
}
.note h1 .close,
.note h2 .close,
.note h3 .close,
.note h4 .close,
.note h5 .close,
.note h6 .close {
  margin-right: -10px;
}
.note p {
  font-size: 13px;
}
.note p:last-child {
  margin-bottom: 0;
}
.note code,
.note .highlight {
  background-color: #fff;
}
.note.note-default {
  background-color: lightgray;
  border-color: #adadad;
  color: #333333;
}
.note.note-default.note-bordered {
  background-color: #c3c3c3;
  border-color: #a0a0a0;
}
.note.note-default.note-shadow {
  background-color: #c6c6c6;
  border-color: #a0a0a0;
  box-shadow: 5px 5px rgba(162, 162, 162, 0.2);
}
.note.note-primary {
  background-color: #5697d0;
  border-color: #3085a9;
  color: #D8E3F2;
}
.note.note-primary.note-bordered {
  background-color: #3e89c9;
  border-color: #2a7696;
}
.note.note-primary.note-shadow {
  background-color: #428bca;
  border-color: #2a7696;
  box-shadow: 5px 5px rgba(43, 121, 154, 0.2);
}
.note.note-success {
  background-color: #eef7ea;
  border-color: #c9e2b3;
  color: #3c763d;
}
.note.note-success.note-bordered {
  background-color: #dcefd4;
  border-color: #bbdba1;
}
.note.note-success.note-shadow {
  background-color: #dff0d8;
  border-color: #bbdba1;
  box-shadow: 5px 5px rgba(190, 220, 164, 0.2);
}
.note.note-info {
  background-color: #eef7fb;
  border-color: #a6e1ec;
  color: #31708f;
}
.note.note-info.note-bordered {
  background-color: #d5ebf6;
  border-color: #91d9e8;
}
.note.note-info.note-shadow {
  background-color: #d9edf7;
  border-color: #91d9e8;
  box-shadow: 5px 5px rgba(150, 219, 233, 0.2);
}
.note.note-warning {
  background-color: #fcf8e3;
  border-color: #f5d89e;
  color: #8a6d3b;
}
.note.note-warning.note-bordered {
  background-color: #f9f1c7;
  border-color: #f2cf87;
}
.note.note-warning.note-shadow {
  background-color: #faf2cc;
  border-color: #f2cf87;
  box-shadow: 5px 5px rgba(243, 209, 139, 0.2);
}
.note.note-danger {
  background-color: #f9f0f0;
  border-color: #e4b9c0;
  color: #a94442;
}
.note.note-danger.note-bordered {
  background-color: #f1dada;
  border-color: #dca7b0;
}
.note.note-danger.note-shadow {
  background-color: #f2dede;
  border-color: #dca7b0;
  box-shadow: 5px 5px rgba(222, 171, 179, 0.2);
}